body{
    background: rgb(211, 255, 171);
    color: rgb(0, 0, 0);
    }

    .table1 {
        font-family: sans-serif;
        color: #000000;
        border-collapse: collapse;
        width: 100%;
        border: 5px solid #f2f5f7;
        }
        
        .table1 tr th{
        background: #db3535;
        color: #fff;
        font-weight: normal;
        }
        
        .table1, th, td {
        padding: 8px 20px;
        text-align: center;
        }
        .table1 tr:hover {
        background-color: #62ff5d;
        }
        
        .table1 tr:nth-child(even) {
        background-color: #f5ff6a;